name: Dynamically Update AoC Tree
on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:
      
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run Dynamic AoC Tree Generator
        run: cargo run --release --bin aoc-tree -- --year 2025
        env:
          AOC_SESSION: ${{ secrets.AOC_SESSION }}
      - name: Commit and Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add aoc_tree.svg
          git commit -m "chore: dynamic update of AoC tree" || exit 0
          git push
